    
    <div id="html-templates" class="formular__inactive">
        <div id="formular-submit-message" >
            <h2 class="formular-submit-message__heading">Din fil er uploadet</h2>
        </div>
    </div>
        
    <!-- bemærk enctype -->
    <form method="post" id="formular" enctype="multipart/form-data" name="form" class="formular">

        <label for="imagetitle">Billedets Titel</label>
        <input 
        type="text" 
        name="imagetitle" 
        id="imagetitle">
        <p class="imagetitle__error"></p>

        <label for="fileinput">Vælg billede</label>
        <!-- bemærk type=file -->
        <input 
        type="file" 
        name="fileinput" 
        id="fileinput"
        class="fileinput"
        accept="image/*"
        >
        <p class="fileinput__error"></p>

        <!-- hvis buttons skal ligge inde i formen, så skal der pereventDefault() på buttons -->
        <button
        id="submit-image" 
        type="submit"
        name="submitbutton"
        >Upload</button>
    
        <button
        id="clear-preview"
        type="button"
        name="clearbutton"
        disabled="true"
        >Nulstil Crop</button>

    </form>



    <span class="return-message"></span>

    <div id="preview-container" class="preview-container">
        <img src="" alt="" class="preview">
        <canvas class="preview-crop"></canvas>
    </div>


<!-- HTML VALIDERING AF TLF-INPUT, HVIS ALT ANDET GLIPPER. SE PATTERN -->
<!-- <label for="tlfinput">Telefon</label>
<input type="tel" 
name="tlfinput" 
id="tlfinput"
pattern="[0-9]{8}"
required>
<p class="tlfinput__error"></p> -->