<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="CSS/style.css"> -->
    <%- include('partials/head.ejs') %>
    <title>HOme</title>
</head>
<body>
    <header>
        <h2>Home</h2>
        <a href="/imageupload">Gå til billeduploader</a>
    </header>

    <main class="main">
        <%- include('partials/imagegallery') %>
    </main>

    <%- include('partials/scripts.ejs') %>
    <!-- <script src="/public/js/valider.js"></script> -->
</body>
</html>