<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="CSS/style.css"> -->
    <%- include('partials/head.ejs') %>
    <title>Fileuploader</title>
</head>
<body>
    <header>
        <h2>Fileuploader</h2>
    </header>

    <main class="main">
        
        <div class="fileuploader-area">
            <%- include('partials/imagepreview.ejs') %>
        </div>
        
    </main>

    <script src="/js/imageload.js"></script>
</body>
</html>